* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
}

body > div {
  width: calc(100vw - 2rem);
}

// * {border: 1pt solid red}

.preview {
  padding: 1rem;
  outline: black solid 1pt;
  outline-offset: -.5rem;
  border-radius: 1rem;
}

.picker-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: .5rem;
  
  > input[type="range"] {
    &:nth-child(1) { accent-color: red }
    &:nth-child(2) { accent-color: green }
    &:nth-child(3) { accent-color: blue }
    &:nth-child(4) { accent-color: grey }
  }
}

.color-value {
  padding: 1rem .5rem;
}

.swatches {
  position: relative;
  padding: 0 1rem;

  .add-fav {
    margin: 1rem 0;
    height: 2rem;
    width: 2rem;
    display: grid;
    place-items: center;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: .2rem;

    &:hover {
      filter: brightness(1.2);
    }

    &:active {
      filter: brightness(.8);
    }
  }

  .sw-colors-container {
    width: 100%;
    display: flex;
    overflow: scroll;
    gap: 1rem;
    padding: 1rem;

    .sw-color {
      height: 2rem;
      width: 2rem;
      border-radius: .2rem;
      outline: black solid 1pt;
      outline-offset: -.2rem;
      flex-shrink: 0;
      background: currentColor;
      cursor: pointer;
      transition: 300ms;
      
      &:hover {
        outline-offset: .2rem;
        outline-width: 1.5pt;
        outline-color: currentColor;
        scale: 1.2;
      }
    }
  }
}